<%- include('partials/header') %>
 
<div class="infoBody container disappearTwo">
  <h1>About Us</h1>
  <p>The Vault Is An Online Banking Platform, Made To Make Fintech Seemless. Actually This Is Just A Project 
      To Test My Web Development Prowess... LOL.
  </p>
  
  
</div>
<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>
<%- include('partials/footer') %>