<%- include('partials/header') %>
      
 <div class="infoBody container disappearTwo">
  <h1>Contact Us</h1>
  <p>This beautiful functional website was made by <strong>Edidiong Obodom</strong> contact me on Whatsapp,
      by clicking on the contact button bellow. Or you can contact me through my email at edijay17@gmail.com.
  </p>
  <button class="btn btn-dark btn-lg lightLord download-button" type="button">
      <a href="https://wa.me/qr/N4M77VDYB6U6C1" style="color: antiquewhite;">Contact Me</a>
    </button>
  
  
</div>     
<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>

<%- include('partials/footer') %>