<%- include('partials/header') %> 

<div class="infoBody container disappearTwo">
  <h1>Banking Made Easy</h1>
  <p>Swift and Easy Transactions, Outstanding Customer <br class="disappear">Service and many more...</p><br class="poof">
  <button class="btn btn-dark btn-lg lightLord download-button" type="button">
      <a href="/auth/register">Register</a>
    </button>
    <button class="btn btn btn-outline-light btn-lg lightLord download-button" type="button">
      <a href="/login">Log In</a>
    </button>
  
</div>
<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>

<%- include('partials/footer') %> 