<%- include('partials/header') %>

</div>
</div>
</nav>

<main class="form-signin drop">
  <form action="/auth/passwordreset/<%= email %>" method="POST">
    <div class="form-floating">
        <input type="password" class="form-control" name="pin" id="yo" id="floatingPassword" minlength="8"
        autocomplete="new-password" required>
        <label for="floatingPassword">Reset Password</label>
      </div>
   
      <div class="form-check">
        <input class="form-check-input" type="checkbox" onclick="myFunction()" value="" id="flexCheckDefault">
        <label class="form-check-label" style="color: antiquewhite;" for="flexCheckDefault">
          Show Password
        </label>
      </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
    <p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p>
  </form>
</main>   

<%- include('partials/footer') %> 