<%- include('partials/adminhead') %>

<section>
  <div class="infoBody dashBoard container">
      <div class="row dash">
          <div class="pricing-column">
            <div class="card">      
                    
              <div class="card-body bg-light cardMargin">
                <h2 class="pricing-heading">Failed reversal, Transaction was a Failed Transaction... <i class="fa-solid fa-ban"></i></h2><br>
                
                <button class="btn d-grid gap-2 btn-outline-dark dropdown" style="border:1px solid #777777;" type="button">
                  <a href="/admin/transactionhis/<%= email %>/<%= HolderAccNo %>" class="d-flex  noTextDecor" aria-expanded="false">
                    Back to Transactions
                  </a>
                  </button>

              </div>

      
            </div>
          </div>
    </div>
</section>

</main>        
<br>
<div class="container"><p class="mt-5 mb-3 text-muted">Edidiong Obodom © 2022</p></div>
<%- include('partials/footer') %>