<%- include('partials/header') %>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/services.css">
<%- include('partials/scripts') %>
<nav class="navbar navbar-dark  fixed-top">
    <div class="container">
      <a class="navbar-brand edify" href="#">EDIFY I.T</a>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end servcol" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title servcolText" id="offcanvasDarkNavbarLabel">EDIFY I.T</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          <hr>
          <footer id="footer">
            <p>
              <a 
              rel="noreferrer"
              target="_blank" href="https://twitter.com/edifyit1?t=TnQ6_51X-2ggKGx3tfkxSQ&s=08">
                <span class="footerIcon">
                  <i class="fa-brands fa-twitter"></i>
                </span>
              </a>
              <a 
              rel="noreferrer"
              target="_blank" href=" https://www.facebook.com/EdifyHD">
                <span class="footerIcon">
                  <i class="fa-brands fa-facebook-f"></i>
                </span>
              </a>
              <a 
              rel="noreferrer"
              target="_blank" href="https://instagram.com/edify_it">
                <span class="footerIcon">
                  <i class="fa-brands fa-instagram"></i>
                </span>
              </a>
              <a 
              rel="noreferrer"
              target="_blank" href="mailto:edifyit1@gmail.com?subject=Contacting%20Edify%20IT&body=Good%20day%20Ediy%20IT.">
                <span class="footerIcon">
                  <i class="fa-solid fa-envelope"></i>
                </span>
              </a>
            </p>
            <p>©2022 Copyright Edify I.T</strong></p>
            </footer>
        </div>
      </div>
    </div>
  </nav>
<div class="services">
    <!-- horizontal -->

<h4>Services</h4>
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="flip">
    <div class="front" style="background-image: url(https://aitechnologiesng.com/wp-content/uploads/2020/10/Website-Development.jpeg)">
       <!-- <h1 class="text-shadow cardText">Web Development</hi> -->
    </div>
    <div class="back">
       <h4>Web Development</h4>
       <p>Using modern technologies to create 
        Responsive, Scalable and Unique Websites that would surpass your expectations.</p>
    </div>
</div>
</div>

<div class="col-lg-4 col-md-6">
    <div class="flip flip-vertical">
        <div class="front" style="background-image: url(https://img.freepik.com/free-vector/gradient-ui-ux-background_23-2149052117.jpg?w=2000)">
           <!-- <h1 class="text-shadow cardText">UI/UX</hi> -->
        </div>
        <div class="back">
           <h2>UI/UX</h2>
           <p>Beautifully handcrafted designs built using the latest technologies that engage your audience.</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="flip">
        <div class="front" style="background-image: url(https://www.wordstream.com/wp-content/uploads/2022/08/what-does-seo-stand-for.png)">
           <!-- <h1 class="text-shadow">OCEAN</hi> -->
        </div>
        <div class="back">
           <h2>SEO & Performance Testing</h2>
           <p>Make your website fast, easy to find, and reach the widest audience possible.</p>
        </div>
    </div>
</div>

<br>
<br>

<!-- vertical -->
  
<h4>More Services</h4>
<div class="col-lg-4 col-md-6">
    <div class="flip flip-vertical">
        <div class="front" style="background-image: url(https://www.etatvasoft.com/blog/wp-content/uploads/2022/08/mobile-app-development-methodologies.jpg)">
           <!-- <h1 class="text-shadow">FOREST</hi> -->
        </div>
        <div class="back">
           <h2>Mobile App Development</h2>
           <p>Everything mobile😉</p>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6">
    <div class="flip">
        <div class="front" style="background-color: #555">
           <h1 class="text-shadow">WEB DEVELOPMENT CONSULTANCY</hi>
        </div>
        <div class="back scroll">
           <h2>Consultancy</h2>
           <p>We take on a projects with a problem-solving attitude to suggest, recommend, and design the best solution for your website project while a web developer focuses on writing the code that meets the project's specifications.</p>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6">
    <div class="flip flip-vertical">
        <div class="front" style="background-image: url(https://s.w.org/images/backgrounds/wordpress-bg-medblue.png)">
           <!-- <h1 class="text-shadow">SWAMP</hi> -->
        </div>
        <div class="back scroll">
           <h2>WordPress</h2>
           <p>WordPress is a content management system, often abbreviated as CMS, is software that helps users create, manage, and modify content on a website without the need for specialized technical knowledge.</p>
        </div>
    </div>
</div>

</div>
</div>
<%- include('partials/footer') %>