* {
    box-sizing: border-box;
    color: #fff;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
      "sans-serif";
  }
  
  *:focus {
    outline: 0;
  }
  
  .contactInfo{
    padding-top: 7%;
    text-align: center;
  }
  @media (max-width: 629px) {
    .contactInfo {  
      padding-top: 12%;  
   }
  
  }
  @media (max-width: 320px) {
    .contactInfo {  
      padding-top: 12%;  
   }
  
  }
  .wrapper {
    margin: 100px auto 0;
    margin-top: 0;
    width: 70%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  form {
    width: 100%;
    margin: 0;
  }
  
  form * {
    font-size: 20px;
    letter-spacing: 0.075em;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
  }

  .capitalize{
    text-transform: capitalize;
  }
  
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  
  form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #b13e8b, #372056);
    width: 100%;
    height: 64px;
    transition: width 333ms ease-in-out;
    text-align: center;
    padding: 18px 0;
  }
  
  form .field input[type="text"],
  form .field input[type="email"],
  form .field textarea {
    border: none;
    width: 100%;
    height: 64px;
    margin: 0;
    padding-left: 19.5%;
    color: #313a3d;
  }
  
  form #msg {
    height: 64px;
    resize: none;
    transition: all 333ms ease-in-out;
    padding-top: 18px;
  }
  form textarea:focus#msg,
  form textarea:not(:placeholder-shown)#msg {
    height: 166px;
  }
  form input[type="text"]:focus + label,
  form input[type="text"]:not(:placeholder-shown) + label,
  form textarea:focus + label,
  form textarea:not(:placeholder-shown) + label,
  form .field:hover label {
    width: 18%;
  }
  form input[type="submit"] {
    background: linear-gradient(90deg, #b13e8b, #812d65);
    -webkit-appearance: none;
    border: none;
    position: relative;
    padding: 13px 50px;
    transition: all 0.3s ease-in-out;
  }
  form input[type="submit"]:hover,
  form input[type="submit"]:focus {
    background: #372056;  
  }
  