@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #0e101f;
  color: white;
}

#loading {
  display: none;
}
canvas {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.edify{
  font-weight: bolder;
}
.servcolText{
  color: white;
}
.servcol{
  background: #0e101f;
}


/* Typewrite */
.typewrite::after{
  content: '';
  width: 1px;
  border-right: 5px solid white;
  height: 100%;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}
.typewriteAbout::after{
  content: '';
  width: 1px;
  border-right: 5px solid white;
  height: 100%;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}
.typeWriterAdmin::after{
  content: '';
  width: 1px;
  border-right: 5px solid rgba(255, 255, 255, 0.767);
  height: 100%;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}
/* Footer */

#footer {
  padding-top: 0;
  text-align: center;
  color: white;
}
.footerIcon {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
.whitee{
  color: white;
}
.thirtyTwo{
  font-size: 32px;
}
.sixty{
  font-size: 60px;
}
a{
  text-decoration: none;
}
@keyframes blink {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* sorcery */
.sorcery {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardiList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardiList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardiList__btn.btns--left {
  left: -5%;
}
@media (max-width: 750px) {
  .cardiList__btn.btns--left {
    left: -1%;
  }

}
.cardiList__btn.btns--right {
  right: -5%;
}
.cardiList__btn .icon {
  color: white;
  width: 100%;
  height: 100%;
}
.cardiList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardiList .cardis__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.cardi {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.cardi::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.cardi__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.cardi__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardi.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.cardi.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.cardi.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.cardi.previous--card, .cardi.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

/* .loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: left;
} */

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

 
@media (max-width: 500px) {
  .info .text{
    font-size: 1.6rem;
  }
  .support a{
    margin: 0 0;
    color: #fff;
    font-size: 1.2rem;
  }
  .support{
    right: 35%;
    padding-bottom: 0;
  }
}

  /* .raphael{
    text-align: justify;
      margin-left: 70%;
  } 

  @media (max-width: 1200px) {
    .raphael{
      margin-left: 60%;
    }
}
  @media (max-width: 998px) {
    .raphael{
      margin-left: 50%;
    }
}
@media (max-width: 769px) {
  .raphael{
    margin-left: 40%;
  }
}
@media (max-width: 528px) {
  .raphael{
    margin-left: 30%;
  }
}
@media (max-width: 461) {
  .raphael{
    padding-left: 0;
    margin-left: 0;
  }

  .velda{
    padding-right: 0;
    margin-left: 0;
  }
} */